@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 2px solid black;
    text-align: center;
}

input {
    width: 3em;
    height: 3em;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.filled {
    color: blue;
}

#title-container {
    text-align: center;
}

#buttons-container {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}

.button {
    width: 8em;
    height: 3em;
    display: flex;
    justify-content: center;
    margin: 0em 1em 1em 1em;
}

#solve-button {
    background-color: green;
    color: white;
}
#time-elapsed-container {
    text-align: center;
    display: hidden;
}
#time-elapsed-starting-text{
    display: hidden;
}

#links-container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: white;
    background-color: seagreen;
    align-items: center;
    justify-content: center;
    padding: 4px;
}